header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #5465FF;

    a{
        color: #fff;
    }

    .logo {
        display: flex;
        align-items: center;

        img {
            max-width: 30px;
            transform: rotate(20deg);
        }

        h1{
            margin-left: -14px;
            font-size: 24px;
            color: #fff;
        }
    }


}

@media (max-width: 480px) {

    header {
        padding: 20px 15px;
    }

}