@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #F0F2FF;
}

.app {
    width: 100%;
    font-family: 'Montserrat', sans-serif;

    .contacts-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
}

button.add-contact {
        position: absolute;
        bottom: 50px;
        background-color: #5465FF;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        margin: 50px 0;
        color: #fff;
        font-size: 50px;
        outline: none;
        transition: 200ms ease;
        cursor: pointer;
    
        &:hover {
            transform: rotate(360deg);
    }

}